[Unit]
Description=Triggers fp-pa-aws-log-service-timer.sh to run fp-pa-aws-log-service.service if it's not active
Requires=fp-pa-aws-log-service.service
After=fp-pa-aws-log-service.service

[Service]
Environment=
WorkingDirectory=
User=
ExecStart=/bin/bash -c 'cd ${APP_HOME}; ./deploy/fp-pa-aws-log-service-timer.sh'
Restart=on-failure
RestartSec=60
StartLimitBurst=3
StartLimitInterval=360

[Install]
WantedBy=multi-user.target
